---
import Title from '@components/shared/Title.astro';
import MainLayout from '@layout/MainLayout.astro';

interface Props {
    propName: any;
}
const { propName } = Astro.props;
---


<MainLayout title='favoritos'>
<Title>
    Pokemons favoritos
</Title>
</MainLayout>