---
import { FavoritesPokemons } from '@components/pokemons/FavoritesPokemons';
import Title from '@components/shared/Title.astro';
import MainLayout from '@layout/MainLayout.astro';
---


<MainLayout title='favoritos'>
<Title>
    Pokemons favoritos
</Title>
<FavoritesPokemons client:only="solid-js"/>
</MainLayout>